<nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MeanAssociation</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ngClass="isActiveTab(&#39;&#39;)" class="active"><a href="/">Home</a></li>
        <li ngClass="isActiveTab(&#39;members&#39;)"><a href="/members">Members</a></li>
        <li *ngIf="!isLoggedIn()"><a href="/register">Register</a></li>
        <li *ngIf="isLoggedIn()"><a href="/profile">Profile</a></li>
      </ul>
      <div class="col-xs-6">
        <form *ngIf="!isLoggedIn()" class="navbar-form navbar-right" role="login" ng-submit="login()">
          <div class="form-group" ng-class="{&#39;has-error&#39;: err}">
            <input type="text" class="form-control input-sm" placeholder="Username" ng-model="username" autocapitalize="none">
          </div>
          <div class="form-group" ng-class="{&#39;has-error&#39;: err}">
            <input type="password" class="form-control input-sm" placeholder="Password" ng-model="password" autocapitalize="none">
          </div>
          <button type="submit" class="btn btn-sm btn-success">Login</button>
        </form>
      </div>
      <ul *ngIf="isLoggedIn()" class="new navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome {{loggedUser}}</p></li>
        <li><button class="navbar-btn btn-sm btn-info" ng-click="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>