html {
    position: relative;
    min-height: 100%;
    }
    body {
    margin-bottom: 90px;
    }
    .padded {
    padding-top: 30px;
}
.container {
    padding: 60px 0 0 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;
    background-color:
    #f5f5f5;
    padding-top: 5px;
}